<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>

    <title>Lista Prodotti</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/catalogo.css}" />
</head>
<body layout:fragment="content">

<h2>Lista Prodotti</h2>
<div class="insert-button">
    <a th:href="@{/formInserimento}">
        <button type="button">Inserisci prodotto</button>
    </a>
</div>

<div class="product-container">
    <div th:each="prodotto : ${prodotti}" class="product-card">
        <h3 th:text="${prodotto.nome}"></h3>
        <img th:if="${prodotto.immagineBase64}" th:src="'data:image/png;base64,' + ${prodotto.immagineBase64}" alt="Immagine" class="product-image"/>
        <p th:text="${prodotto.descrizione}"></p>
        <p>Prezzo: €<span th:text="${prodotto.prezzoVendita}"></span></p>
        <a th:href="@{/formModificaProdotto/{id}(id=${prodotto.idProdotto})}">
            <button type="button">Modifica</button>
        </a>
        <a th:href="@{/cancellaProdotto/{id}(id=${prodotto.idProdotto})}"
           onclick="return confermaCancellazione()">
            <button type="button">Cancella</button>
        </a>
    </div>
</div>
</body>


</html>
