<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" lang="en">
<head>
    <title>Flask Form</title>
</head>
<body>
<section layout:fragment="content">
    <form action="#" method="post">
        <label>Send data to Flask</label>
        <input type="text" id="data">
        <button type="button" onclick="submitForm()">submit</button>
    </form>
    <script th:inline="javascript">
        function submitForm() {
            var form_data = document.getElementById("data").value
            let data = {data: form_data}

            $.ajax({
                type: 'POST',
                url: '/sendDataToFlask', // Update the URL to match your REST endpoint
                contentType: 'application/json',
                data: JSON.stringify(data), //in formato stringa
                success: function (response) {
                    // Handle success response
                    console.log(response);
                },
                error: function (error) {
                    // Handle error response
                    console.error(error);
                }
            });
        }

    </script>
</section>
</body>
</html>