<!DOCTYPE html>
<html>
<head>
    <title>GreenBridge</title>
</head>
<body>

    <h1>Inserimento prodotto</h1>
    <form th:action="@{/addProdotto}" method="post" th:object="${prodotto}" enctype="multipart/form-data">
        <label for="nome">Nome:</label>
        <input type="text" id="nome" th:field="*{nome}" required><br>

        <label for="origine">Origine:</label>
        <input type="text" id="origine" th:field="*{origine}" required><br>

        <label for="immagineFile">Immagine:</label>
        <input type="file" id="immagineFile" th:field="*{immagineFile}" accept="image/*" required><br>

        <label for="formatoVendita">Formato Vendita:</label>
        <input type="number" id="formatoVendita" th:field="*{formatoVendita}" required><br>

        <label for="prezzoKg">Prezzo al Kg:</label>
        <input type="number" id="prezzoKg" th:field="*{prezzoKg}" required><br>

        <label for="prezzoVendita">Prezzo di vendita:</label>
        <input type="number" id="prezzoVendita" th:field="*{prezzoVendita}" required><br>

        <label for="quantitaDisp">Quantità Disponibile:</label>
        <input type="number" id="quantitaDisp" th:field="*{quantitaDisp}" required><br>

        <label for="lotto">Rintracciabilità:</label>
        <input type="number" id="lotto" th:field="*{lotto}" required><br>

        <label for="descrizione">Descrizione:</label>
        <input type="text" id="descrizione" th:field="*{descrizione}" required><br>

        <button type="submit">Salva</button>
    </form>



</body>
</html>