<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ricerca Prodotti</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>

<h2>Ricerca Prodotti</h2>


    <label for="nome">Nome Prodotto:</label>
    <input type="text" id="nome" name="nome" />
    <button id="submit" type="submit">Cerca</button>


<h3>Elenco di Prodotti</h3>
<ul>
    <li th:each="prodotto : ${risultati_ricerca}">
        <span th:text="${prodotto.getNome()}"></span>
        <span th:text="${prodotto.getId()}"></span>
    </li>
</ul>
<script>
    $(document).ready(function(){
        $("#submit").click(function(){
            $("#responseContainer").text("");
           var nome= $("#nome").val();
           alert(nome);
            $.ajax({
                url: '/risultato?nome=' + encodeURIComponent(nome),
                type:'GET',
                success: function(response) {

                        response.forEach(function (oggetto, index) {
                            let nameProduct = JSON.stringify(response[index].nome);
                            $('<pre>').text(nameProduct).appendTo('#responseContainer');
                        });

                },
                error: function(error) {
                    alert("Errore durante la chiamata AJAX:", error);
                }
            });
        });
    });
</script>
</body>

<div id="responseContainer"></div>
</html>
