<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout}">
<head>
  <title>GreenBridge - Registrazione</title>
</head>
<body>
  <section layout:fragment="content">
    <form action="#" method="post">
        <label>email</label>
        <input type="text" id="email">
        <label>password</label>
        <input type="text" id="password">
        <button type="button" onclick="submitForm()">submit</button>
    </form>
    <script th:inline="javascript">
      function submitForm() {
          var email = document.getElementById("email").value
          var password = document.getElementById("password").value
          let data = {email: email, psw: password}

          $.ajax({
              type: 'POST',
              url: '/api/registrazione', // Update the URL to match your REST endpoint
              contentType: 'application/json',
              data: JSON.stringify(data), //in formato stringa
              success: function (response) {
                  // Handle success response
                  console.log(response);
              },
              error: function (error) {
                  // Handle error response
                  console.error(error);
              }
          });
      }

  </script>
  </section>
</body>
</html>