<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inserimento Certificato</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/InserimentoCertificatoStyle.css">
</head>
<body>
<h1>Inserimento Certificato</h1>

<form id="certificatoForm">
    <label for="nomeCertificato">Nome Certificato:</label>
    <input type="text" id="nomeCertificato" name="nomeCertificato" required><br>

    <label for="dataScadenza">Data di Scadenza:</label>
    <input type="date" id="dataScadenza" name="dataScadenza" required><br>

    <label for="scansioneCertificato">Scansione Certificato:</label>
    <input type="file" id="scansioneCertificato" name="scansioneCertificato" accept=".pdf, .jpg, .png" required><br>

    <button type="button" onclick="avanti()">Avanti</button>
</form>


</body>
</html>