body {
    font-family: Arial, sans-serif;
    padding: 20px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product-card {
    background-color: #fff; /* Sfondo bianco */
    border: 2px solid #4CAF50; /* Cornice verde */
    border-radius: 8px;

    margin: 10px;
    padding: 20px;
    width: 250px;
}

.product-image {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.product-card button,.insert-button button {
    background-color: #4CAF50; /* Colore verde per i bottoni */
    color: #fff; /* Colore del testo bianco */
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.insert-button {
    margin-top: 0px;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
}