body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

.product-container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
}

.product-image {
    flex: 1;
}

.product-image img {
    max-width: 100%;
    border-radius: 5px;
}

.product-details {
    flex: 1;
    padding-left: 20px;
}

h1 {
    color: #333;
}

.description {
    color: #555;
}

.price {
    color: #e44d26;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
}

.quantity-controls {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#sottrai, #somma {
    background-color: #0A9E07;
    color: #fff;
    padding: 8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 5px;
}

#quant {
    font-weight: bold;
    margin: 0 10px;
}

#add {
    background-color: #28a745;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
