<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="css/ordiniRicevuti.css">
</head>
<body>
<section layout:fragment="content">
    <table>
        <thead>
        <tr>
            <th>ID Certificato</th>
            <th>Nome</th>
            <th>Data di Scadenza</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="cert : ${certificati}">
            <td th:text="${cert.id}"></td>
            <td th:text="${cert.nomeCertificato}"></td>
            <td th:text="${cert.dataScadenzaCertificato}"></td>
        </tr>
        </tbody>
    </table>
</section>
</body>
</html>