<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Checkout</title>
    <link rel="stylesheet" href="/css/checkoutStyle.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>


</head>
<body>
    <div class="titolo"><h2> Checkout </h2></div>
    <div class="container">
            <label for="nome">Nome:</label>
            <input type="text" id="nome" name="nome" th:value="${nome}" readonly required>

            <label for="cognome">Cognome:</label>
            <input type="text" id="cognome" name="cognome" th:value="${cognome}" readonly required>

            <div class="indirizzo"><h2>Metodo di spedizione</h2></div>
            <div>
                <input type="radio" id="pickup" name="shippingOption" value="pickup" onclick="hideAddressForm()" required>
                <label for="pickup">Ritiro in bottega</label>
                <p id="nomeBottega" th:text="${bottega}" th:if="${bottega}" style="display: none;"></p>
            </div>
            <div>
                <input type="radio" id="delivery" name="shippingOption" value="delivery" onclick="showAddressForm()" required>
                <label for="delivery">Consegna a domicilio</label>
            </div>

            <div id="indirizzoForm" style="display: none;">
                <label for="via">Via:</label>
                <input type="text" value="" id="via" name="via" required>

                <label for="civico">Civico:</label>
                <input type="text" value="" id="civico" name="civico" required>

                <label for="cap">CAP:</label>
                <input type="text" value=""  id="cap" name="cap" required>

                <label for="paese">Paese:</label>
                <input type="text" value=""  id="paese" name="paese" required>

                <label for="citta">Citta:</label>
                <input type="text" value="" id="citta" name="citta" required>
            </div>

            <button onclick="sendForm()" type="submit">Conferma ordine</button>
    </div>

<script>
    function sendForm(){
        var selectedOption = $('input[name="shippingOption"]:checked').val();
        var indirizzo ={
            opzione : selectedOption,
            via : $("#via").val(),
            civico : $("#civico").val(),
            cap : $("#cap").val(),
            paese : $("#paese").val(),
            citta : $("#citta").val(),
        };
        alert(JSON.stringify(indirizzo));

        $.ajax({
            type: 'POST',
            url: '/checkForm',
            contentType: 'application/json',
            data: JSON.stringify(indirizzo),
            /*success: function (response) {
                console.log(response)
                window.location.replace("detailCliente");
            },
            error: function (response) {
                console.log(response)
                $("#esito").text("Credenziali errate")
            }*/
        });


    }
    function hideAddressForm(){
        document.getElementById("indirizzoForm").style.display="none";
        document.getElementById("nomeBottega").style.display="block";
    }

    function showAddressForm(){
        document.getElementById("indirizzoForm").style.display="block";
        document.getElementById("nomeBottega").style.display="none";
    }

</script>
</body>
</html>