<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Checkout</title>
    <link rel="stylesheet" href="/css/checkoutStyle.css">
</head>
<body>
    <div class="container">
        <div class="titolo"><h2>Checkout</h2></div>
            <label for="nome">Nome:</label>
            <input class="inputCliente" type="text" id="nome" name="nome" th:value="${nome}" readonly required>
            <br>

            <label for="cognome">Cognome:</label>
            <input class="inputCliente" type="text" id="cognome" name="cognome" th:value="${cognome}" readonly required>
        <div class="indirizzo"><h2>Metodo di spedizione</h2></div>
            <div class="radio-container">
                <input type="radio" id="pickup" name="shippingOption" value="pickup" onclick="hideAddressForm()" required>
                <label for="pickup">Ritiro in bottega</label>
                <!--<p id="nomeBottega" th:text="${bottega}" th:if="${bottega}" style="display: none;"></p>-->
            </div>
            <div class="radio-container">
                <input type="radio" id="delivery" name="shippingOption" value="delivery" onclick="showAddressForm()" required>
                <label for="delivery">Consegna a domicilio</label>
            </div>

            <div id="indirizzoForm" style="display: none;">
                <label for="via">Via:</label>
                <input class="inputText" type="text" id="via" name="via" required>
                <br>

                <label for="civico">Civico:</label>
                <input class="inputText" type="text" id="civico" name="civico" required>
                <br>

                <label for="cap">CAP:</label>
                <input class="inputText" type="text" id="cap" name="cap" required>
                <br>

                <label for="paese">Paese:</label>
                <input class="inputText" type="text" id="paese" name="paese" required>
                <br>
            </div>
        <div class="button-container">
            <form action="/process_checkout" method="post">
                <button class="inputButton" type="submit">Conferma ordine</button>
            </form>
        </div>
    </div>

<script>
    function hideAddressForm(){
        document.getElementById("indirizzoForm").style.display="none";
        document.getElementById("nomeBottega").style.display="block";
    }

    function showAddressForm(){
        document.getElementById("indirizzoForm").style.display="block";
        document.getElementById("nomeBottega").style.display="none";
    }
</script>
</body>
</html>