<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
  <link rel="stylesheet" href="css/headerStyle.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>
<div id="navBarContainer">
  <div id="firstLevelNavBar">
    <img id="menuIcon" onclick="openMenu()"  src="/img/menu.png">
    <img id="logo" src="/img/logo.png" alt="logo">
    <input  placeholder="Cerca..." type="text" id="searchBar">

    </input>
    <a th:href="@{/carrello}">
      <img class="imgIcon" src="/img/cart.png" alt="chartIcon">
    </a>
    <a th:if="${session.cliente == null}" th:href="@{/login}">
      <img class="imgIcon" src="/img/user.png" alt="userIcon">
    </a>
    <a th:if="${session.cliente != null}" th:href="@{/detailCliente}">
      <img class="imgIcon" src="/img/user.png" alt="userIcon">
    </a>
  </div>
  <div id="secondLevelNavBar" style="left: -400px">
    <a href="#">Catalogo</a>
    <a href="#">Agricoltori</a>
  </div>
</div>

  <!--SECTION-->
  <div id="page-content">
    <section layout:fragment="content" >

    </section>
  </div>
  <!--footer-->
  <footer class="">
  </footer>

  <script>
    function openMenu(){
      var button = document.getElementById('secondLevelNavBar')
      if(button.style.left === '-400px') {
        button.style.left = '0px'
        document.getElementById('menuIcon').src = '/img/close.png'
      }else {
        button.style.left = '-400px'
        document.getElementById('menuIcon').src = '/img/menu.png'
      }
    }
  </script>
</body>
</html>