<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login!</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <link rel="stylesheet" href="/css/formStyle.css">
</head>
<body>
    <div id="loginFormContainer">
        <p id="esito"></p>
        <form id="loginForm">
            <input class="inputText" type="email" placeholder="Email" id="email" required>
            <input class="inputText" type="password" placeholder="Password" id="password" required>
            <button class="inputButton" type="button" onclick="submitForm()">Login</button>
        </form>
    </div>
    <script th:inline="javascript">
        function submitForm() {
            let cliente = {
                email: document.getElementById('email').value,
                password: document.getElementById('password').value,
            };

            $.ajax({
                type: 'POST',
                url: '/api/loginCliente',
                contentType: 'application/json',
                data: JSON.stringify(cliente),
                success: function (response) {
                    console.log(response)
                    window.location.replace("detailCliente");
                },
                error: function (response) {
                    console.log(response)
                    $("#esito").text("Credenziali errate")
                }
            });
        }
    </script>
</body>
</html>