<!DOCTYPE html>
<html lang="en" >
<head>
    <title>Modifica dati</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
          integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" href="/css/headerStyle.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/footerStyle.css">
</head>
<body>
    <div id="navBarContainer">
        <div id="firstLevelNavBar">
            <img id="menuIcon" onclick="openMenu()"  src="/img/menu.png">
            <img id="logo" src="/img/logo.png" alt="logo">
            <input  placeholder="Cerca..." type="text" id="searchBar">

            </input>
            <a href="#">
                <img class="imgIcon" src="/img/cart.png" alt="chartIcon">
            </a>
            <a th:if="${session.cliente == null}" th:href="@{/login}">
                <img class="imgIcon" src="/img/user.png" alt="userIcon">
            </a>
            <a th:if="${session.cliente != null}" th:href="@{/detailCliente}">
                <img class="imgIcon" src="/img/user.png" alt="userIcon">
            </a>
        </div>
    <div id="secondLevelNavBar" style="left: -400px">
        <a href="#">Catalogo</a>
        <a href="#">Agricoltori</a>
    </div>
</div>
<div id="loginFormContainer">
    <form>
        <input type="hidden" th:value="${session.agricoltore.id}" id="id">
        <input class="inputext" placeholder="nome" id="nome" required>
        <input class="inputext" placeholder="nomeBottega" id="nomeBottega" required>
        <input class="inputext" placeholder="indirizzoBottega" id="indirizzoBottega" required>
        <input class="inputext" placeholder="Email" id="email" required>
        <input class="inputext" placeholder="password" id="password" required>
        <button type="button" onclick="submitForm()">aggiorna </button>
    </form>
</div>
<footer>
    <div class="footerContainer">
        <div class="socialIcons">
            <a href="#"><i class="fa-brands fa-facebook"></i></a>
            <a href=""><i class="fa-brands fa-instagram"></i></a>
            <a href=""> <i class="fa-brands fa-github"></i></a>
            <a href=""><i class="fa-brands fa-youtube"></i></a>
        </div>
        <div class="footerNav">
            <ul>
                <li><a href="">ASSISTENZA CLIENTI</a> </li>
                <li><a href="">Contattaci</a> </li>
                <li><a href="">INFORMAZIONI LEGALI</a> </li>
                <li><a href="">Privacy Policy</a> </li>
                <li><a href="">Termini e Condizioni</a> </li>
            </ul>
        </div>
    </div>

</footer>

<script th:inline="javascript">

    function submitForm() {
        var id = document.getElementById("id").value;
        var nome = document.getElementById("nome").value;
        var nomeBottega = document.getElementById("nomeBottega").value;
        var indirizzoBottega = document.getElementById("indirizzoBottega").value;
        var email = document.getElementById("email").value;
        var password = document.getElementById("password").value;

        var newUser = {
            id: id,
            nome: nome,
            nomeBottega: nomeBottega,
            indirizzoBottega: indirizzoBottega,
            email: email,
            password: password
        };

        $.ajax({
            type: 'POST',
            url: '/api/modify/'+id ,
            contentType: 'application/json',
            data: JSON.stringify(newUser),
            success: function (response) {
                console.log(response);
                window.location.replace("modifica");
            },
            error: function (error) {
                console.error(error);
                $("#esito").text("Utente già esistente");
            }
        });
    }
</script>
</body>
</html>
