<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Pagina Prodotto</title>
    <link rel="stylesheet" href="/css/dettagliProdotto.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body layout:fragment="content">
<div class="product-container">
    <div class="product-image">
    </div>
    <div class="product-details">
        <p hidden id="id" th:text=" ${prodotto.getIdProdotto()}"></p>
        <h1 th:text="${prodotto.getNome()}"></h1>
        <p class="description" th:text="${prodotto.getDescrizione()}"></p>
        <p class="price" th:text="'Prezzo: €' + ${prodotto.getPrezzoVendita()}"></p>
        <div class="quantity-controls">
            <button id="sottrai"> - </button>
            <p id="quant" th:name="${prodotto.getQuantitaDisp()}">1</p>
            <button id="somma"> + </button>
        </div>
        <button id="add" type="submit">Aggiungi al carrello</button>
    </div>
</div>

<h2 class="recensioniTitolo">Recensioni</h2>
<div class="recensioneContainer">
    <div th:each="recensione : ${recensioni}" class="recensioneBox">
            <p th:text="${recensione.voto}" class="recensioneVoto"></p>
            <p th:text="${recensione.descrizione}" class="recensioneDescrizione"></p>
    </div>
</div>
<script>
    $(document).ready(function(){
        $("#add").click(function(){
            var idProdotto= $("#id").text();
            let quantita = $("#quant").text();
            console.log("id del prodotto:"+ idProdotto + "quantita prodotto:" + quantita);
            $.ajax({
                url: '/carrello/aggiungiCart',
                data: {
                    idProdotto : idProdotto, // Sostituisci 'valore_del_nome' con il valore effettivo
                    quantita : quantita
                },
                type:'POST',
                success:function(response){
                    if(response==0){
                        console.log("elemento gia presente nel carrello");
                    }else{
                        console.log("elemento inserito correttamente");

                    }
                }

            });
        });
        $("#somma").click(function(){
            let quantita = $("#quant").text();
            quantita = parseInt(quantita, 10);
            quantita = quantita + 1;

            console.log('Quantità dopo la somma:', quantita);

            var max=$("#quant").attr('name');
            if(quantita<=max){
                $("#quant").text(quantita);
            }
        });
        $("#sottrai").click(function(){
            let quantita= $("#quant").text();

            quantita = quantita-1;
            console.log('Quantità dopo la sottrazione:', quantita);
            if(quantita>=1){
                $("#quant").text(quantita);
            }
        });


    });
</script>
</body>
</html>