<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Recensione!</title>
    <link rel="stylesheet" href="/css/recensione.css">
</head>
<body layout:fragment="content">
    <div class="container">
        <div class="recensioneContainer">
            <img id="imgProdotto" src="/img/banana.png" alt="foto-prodotto">
            <p class="prodottoRecensito" th:action th:text="${'Recensisci '+prodottoDaRecensire.prodotto.nome}"> </p>
            <form th:action="@{/saveRecensione}" method="post" th:object="${rec}" class="rate">
                    <input type="radio" id="star5" name="rate" value="5" th:field="*{voto}" />
                    <label for="star5" title="text">5 stars</label>
                    <input type="radio" id="star4" name="rate" value="4" th:field="*{voto}"/>
                    <label for="star4" title="text">4 stars</label>
                    <input type="radio" id="star3" name="rate" value="3" th:field="*{voto}"/>
                    <label for="star3" title="text">3 stars</label>
                    <input type="radio" id="star2" name="rate" value="2" th:field="*{voto}"/>
                    <label for="star2" title="text">2 stars</label>
                    <input type="radio" id="star1" name="rate" value="1" th:field="*{voto}"/>
                    <label for="star1" title="text">1 star</label>
                <br>
                <textarea id="testo-recensione" placeholder="Descrivi la tua esperienza..." th:field="*{descrizione}"></textarea>
                <br>
                <div class="buttonsLeft">
                    <input type="submit" class="buttonRecensione" value="Indietro" name="Indietro"></input>
                    <input type="submit" class="buttonRecensione" value="Annulla" name="Annulla"></input>
                </div>
                <div class="buttonsRight">
                    <input type="submit" class="buttonRecensione" value="Avanti" name="Avanti"></input>
                    <input type="submit" class="buttonRecensione" value="Salta" name="Salta"></input>
                </div>
            </form>
        </div>
    </div>

</body>
</html>