<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registrati!</title>
    <link rel="stylesheet" href="/css/loginClienteStyle.css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</head>
<body>
    <div id="loginFormContainer">
        <p id="esito"></p>
        <form id="loginForm">
            <input class="inputText" placeholder="Nome" type="text" id="nome" required>
            <input class="inputText" placeholder="Cognome" type="text" id="cognome" required>
            <input class="inputText" placeholder="Email" type="email" id="email" required>
            <input class="inputText" placeholder="Password" type="password" id="password" required>
            <input class="inputText" type="date" id="data" required>
            <button class="inputButton" type="button" onclick="submitForm()">Registrati</button>
        </form>
    </div>
    <script th:inline="javascript">
        function submitForm() {
            let cliente = {
                nome: document.getElementById('nome').value,
                cognome: document.getElementById('cognome').value,
                email: document.getElementById('email').value,
                password: document.getElementById('password').value,
                dataNascita: document.getElementById('data').value
            };

            $.ajax({
                type: 'POST',
                url: '/api/saveCliente',
                contentType: 'application/json',
                data: JSON.stringify(cliente),
                success: function (response) {
                    console.log(response)
                    window.location.replace("home");
                },
                error: function (error) {
                    console.error(error)
                    $("#esito").text("Utente gia esistente")
                }
            });
        }
    </script>
</body>
</html>