<!DOCTYPE html>
<html lang="en">
<head>
    <title>Registrazione</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

<div id="loginFormContainer">
    <form action="#" method="post">
        <input class="inputext" placeholder="nome" id="nome" required>
        <input class="inputext" placeholder="nomeBottega" id="nomeBottega" required>
        <input class="inputext" placeholder="indirizzoBottega" id="indirizzoBottega" required>
        <input class="inputext" placeholder="Email" id="email" required>
        <input class="inputext" placeholder="password" id="password" required>
        <button type="button" onclick="submitForm()">Registrati</button>
    </form>

    <p id="esito"></p>
</div>
    <script th:inline="javascript">
        function submitForm() {
            var nome = document.getElementById("nome").value
            var nomeBottega = document.getElementById("nomeBottega").value
            var indirizzoBottegal = document.getElementById("indirizzoBottega").value
            var email = document.getElementById("email").value
            var password = document.getElementById("password").value
            let newUser = {

                      nome:nome,
                      nomeBottega:nomeBottega,
                      indirizzoBottega:indirizzoBottegal,
                      email: email,
                      password: password
            }

            $.ajax({
                type: 'POST',
                url: '/api/RegistrazioneUtente',
                contentType: 'application/json',
                data: JSON.stringify(newUser), //in formato stringa
                success: function (response) {
                    // Handle success response
                    console.log(response);
                    window.location.replace("registratoConSuccesso");
                },
                error: function (error) {
                    // Handle error response
                    console.error(error);
                    $("#esito").text("utente già esiste")
                }
            });
        }

    </script>

</body>
</html>